<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.by.rsa">
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-feature android:name="android.hardware.camera" />

    <application 	android:icon="@drawable/icon"
        			android:label="@string/app_name"
        			android:name="ua.rsa.gd.RsaApplication">

        <!--uses-library android:name="com.google.android.maps"/-->
		<uses-library android:name="com.google.android.maps"/>

        <activity android:name="ua.rsa.gd.RSAActivity"
                  android:label="@string/list_order_title"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="ua.rsa.gd.CoordProvider"
		    	  android:authorities="ua.rsa.gd.CoordProvider">
		</provider>
		<receiver  android:process=":remote" android:name="ua.rsa.gd.Alarm"></receiver>
		<receiver  android:process=":remote" android:name="ua.rsa.gd.AlarmAutoSync"></receiver>
        <activity android:name="ua.rsa.gd.NewHeadActivity"
        		  android:label="@string/head_title"
        		  android:screenOrientation="portrait">
        </activity>
		<activity android:name="ua.rsa.gd.DaysActivity"
			android:label="@string/text_days_of_week"
			android:screenOrientation="portrait">
		</activity>
        <activity android:name="ua.rsa.gd.PlanActivity"
        		  android:label="@string/plan_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.SalesActivity"
        		  android:label="@string/sales_title"
        		  android:screenOrientation="portrait"
        		  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ua.rsa.gd.LinesActivity"
        		  android:label="@string/lines_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.EkvatorLinesActivity"
        		  android:label="@string/lines_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.GroupActivity"
        		  android:label="@string/group_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.GroupErarhActivity"
        		  android:label="@string/group_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.GoodsActivity"
        		  android:label="@string/goods_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.ModalGoodsActivity"
        		  android:label="@string/goods_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.EkvatorGoodsActivity"
        		  android:label="@string/goods_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.MatrixGoodsActivity"
        		  android:label="@string/goods_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.Preferences"
        		  android:label="@string/settings_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.DebitActivity"
        		  android:label="@string/debit_title"
        		  android:screenOrientation="portrait">
        </activity>
		<activity android:name="ua.rsa.gd.activity.AddDebitActivity"
			android:label="@string/debit_title"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="ua.rsa.gd.DebitExtActivity"
			android:label="@string/debit_title"
			android:screenOrientation="portrait">
		</activity>
        <activity android:name="ua.rsa.gd.KassaActivity"
        		  android:label="@string/kassa_title"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.SyncActivity"
        		  android:label="@string/sync_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.FtpSyncActivity"
        		  android:label="@string/sync_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.SendActivity"
        		  android:label="@string/send_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.FtpSendActivity"
        		  android:label="@string/send_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.DownloadActivity"
        		  android:label="@string/download_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.FtpDownloadActivity"
        		  android:label="@string/download_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.SyncparamActivity"
        		  android:label="@string/sendprm_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.FtpSyncparamActivity"
        		  android:label="@string/sendprm_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.activity.AboutActivity"
        		  android:label="@string/about_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.ReportActivity"
        		  android:label="@string/report_title"
        		  android:configChanges="orientation"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name="ua.rsa.gd.ShowreportActivity"
        		  android:label="@string/report_title"
        		  android:configChanges="orientation"
        		  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ua.rsa.gd.ShowmutualreportActivity"
        		  android:label="@string/report_title"
        		  android:configChanges="orientation"
        		  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ua.rsa.gd.QuestActivity"
        		  android:label="@string/report_title"
        		  android:configChanges="orientation"
                  android:windowSoftInputMode="stateHidden"
        		  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ua.rsa.gd.GeophotoActivity"
        		  android:label="@string/report_title"
        		  android:screenOrientation="portrait"
        		  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ua.rsa.gd.ShowDebtReportActivity"
        		  android:label="@string/report_title"
        		  android:screenOrientation="portrait"
        		  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="ua.rsa.gd.PriceActivity"
            	  android:screenOrientation="portrait"
     			  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
		<activity android:name="ua.rsa.gd.GroupActivityAvanta"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name="ua.rsa.gd.ReportSalesPlanActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<service  android:name="ua.rsa.gd.RsaGpsService"
    			  android:enabled="true">
		</service>
		<receiver android:name="ua.rsa.gd.RSABootReceiver"
		    android:enabled="true"
		    android:exported="false">
           	<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>